.codeBlockContainer {
  margin-top: 2rem;
}

.codeBlock {
  background-color: var(--blue);
  color: var(--color);
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: left;
  width: 100%;
  max-width: 800px;
  position: relative;
  word-wrap: break-word;
}

.codeBlockTitle {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  padding: 0.5rem 5px;
  border-top: 1px solid var(--background-color);
  border-radius: 0 0 0.5rem 0.5rem;
}

.rightButtons {
  display: flex;
  gap: 0.5rem;
}

.codeBlockButton {
  background-color: var(--gold);
  color: var(--blue);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.8em 2rem;
  border-radius: 10rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.cancelButton {
  background-color: var(--delete-button, #e74c3c);
  color: white;
}

.cancelButton:hover {
  background-color: #c0392b;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

/* .codeBlockButton:hover {
  corner-shape: superellipse(2);
} */

@keyframes click-feedback {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}

.animate {
  animation: click-feedback 0.2s ease-in-out;
}
