.container {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  justify-items: center;
  gap: 1rem;
}

.text {
  margin: 0;
  text-wrap: balance;
  max-width: 50ch;
  font-size: 1.75rem;
  line-height: 1.4;
}
