:root {
  --radius: 0.5rem;
  --background-color: #11131c;
  --color: #d7d7d7;
  --ffmpeg-green: #87ff83;
  --button-background: #3e3c3e;
  --delete-button: #db3b3e;
  --loader-color: #dadada;
  --blue: #3d4b7f;
  --gold: #c2b480;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-image:
    repeating-linear-gradient(
      45deg,
      color-mix(in srgb, var(--blue), transparent 90%) 0 1px,
      transparent 1px 25px
    ),
    repeating-linear-gradient(
      -45deg,
      color-mix(in srgb, var(--blue), transparent 90%) 0 1px,
      transparent 1px 25px
    );
}

h1 {
  text-align: center;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #11131c;
    --color: #d7d7d7;
    --ffmpeg-green: #87ff83;
    --button-background: #3e3c3e;
    --delete-button: #db3b3e;
    --loader-color: #dadada;
    --blue: #3d4b7f;
    --gold: #c2b480;
  }

  a:hover {
    color: #24c8db;
  }
}
 */
